- @title = 'Confirmation - Phabricator Task Batch Creator'

:css
  .same-width input {
    width: 700px;
    display: block;
  }

%form{method: 'post', action: '/'}
  %p 
    We will create those tasks. You may edit
    individually, or just commit them with submit button
  %p
    Tasks:
  .same-width
    - @tasks.each do |t|
      %input{name: 'task[]', value: t}
  %p
    Project id:
    %input{name: 'project', value: @project_id}
  %input{type: 'hidden', name: 'commit', value: 'true'}
  %p
    Put your API key:
    %input{name: 'api-key'}
  %p
    Base phabricator URI:
    %input{name: 'phabricator-uri'}
    
  %button Commit via Conduit
